*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E7F0FE;
}

.navbar{
    background-color: #173C74;
}

.card{
    background-color: #2e79ea;
}

.btn-primary{
    color: #fff          !important;
    background-color: #173C74  !important;
    border-color: #173C74   !important;
}

.borderN{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-control, .btn-success{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}